<app-header></app-header>



<div class="d-flex justify-content-between " style="margin-top:20px;  margin-left:20px;" >
   <div class="d-flex" >
     <i class="bi bi-house-door" style="font-size: 22px;"></i>
     <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
     <p style="font-family: 'Montserrat';font-size: 22px; " ><a href="solicitud" style="text-decoration:none">Solicitudes</a></p>
     <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
    <p style="font-family: 'Montserrat';font-size: 22px; "><a href="uniconomica" style="text-decoration:none">Unidad economica</a></p>
    
   </div>
   <a href="#"   style="font-family: 'Montserrat';font-size: 22px; color:blue; margin-right:15px;">Manual de usuario</a>
 
 </div>



    



<section class="container ">

 
  

    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; " >
        <p style=" font-size: 50px;"   ><strong>UNIDAD ECONOMICA</strong></p>
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Oficina de registro</strong><p>
        </div>
      </div>
    <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
         
        </div>
      </div>
      



        <div class="borderso text-center" ></div>

       <div>
         <form class="row formularyborder" [formGroup]="FormUni" (submit)="enviar()"  ngNativeValidate>
     <div class="row formularyborder" >
      
        <div class="col-md-4 marginput ">
            <div class="form-group">
               <div class="d-flex justify-content-between">
                
               <label class="control-label textoInput">OFICINA:*</label>
            </div>
               <select class="form-select required" id="" name="Ofcid" formControlName="Ofcid"  #Ofcid>
                      <option value="">Selecciona una opción</option>
                      <option *ngFor="let ofi of oficinas " [value]="ofi.id">{{ofi.NombreOficina}}</option>       
               </select>
               <div 
               *ngIf="
               FormUni.controls['Ofcid'].invalid &&
               (FormUni.controls['Ofcid'].dirty || FormUni.controls['Ofcid'].touched)
             ">
             <div   *ngIf="FormUni.controls['Ofcid'].errors">
              <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> La oficina es obligatoria</label>
             </div>
             
               </div>
               <p class="vacio" id=""></p>
            </div>
         </div>

        



         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">FECHA:*</label>
               
               <input class="form-control required" id="" name="" formControlName="FechaRegistro" type="date"
               required>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4 marginput">
            <div class="form-group">
               <input class="form-check-input" style="margin-left: 5px;" type="checkbox" value="" id="defaultCheck1">
               <label class="control-label textoInput"style="margin-left: 5px;" >CAPTURAR RNPA:*</label>
               <input class="form-control required mayus" id="" name="" formControlName="RNPA"  maxlength="10" type="text" required >
               <p class="vacio" id=""></p>
            </div>
         </div>



        
<div>
    <p  style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>Datos generales</strong><p>
        <div class="borderso text-center" ></div>
        
</div>
       


       
     
       
           

<div class="col-md-4 marginput">
   <div class="form-group">
      <label class="control-label textoInput">NOMBRES(S):*</label>
      <input class="form-control required mayus" id="" name="" formControlName="Nombres" type="text" maxlength="50" required>
      <div 
      *ngIf="
      FormUni.controls['Nombres'].invalid &&
      (FormUni.controls['Nombres'].dirty || FormUni.controls['Nombres'].touched)
    ">
    <div   *ngIf="FormUni.controls['Nombres'].errors">
     <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El nombre es obligatorio</label>
    </div>
    
      </div>
      <p color="danger" class="vacio" id=""></p>
   </div>
</div>

<div class="col-md-4 marginput">
   <div class="form-group">
      <label class="control-label textoInput">APELLIDO PATERNO:*</label>
      <input class="form-control required mayus" id="" name="" formControlName="ApPaterno" type="text" maxlength="30" required>
      <div
      *ngIf="
      FormUni.controls['ApPaterno'].invalid &&
      (FormUni.controls['ApPaterno'].dirty || FormUni.controls['ApPaterno'].touched)
    ">
    <div *ngIf="FormUni.controls['ApPaterno'].errors">
      <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El apellido paterno es obligatorio</label>
    </div>
    
      </div>
     
      <p class="vacio" id=""></p>
   </div>
</div>

<div class="col-md-4 marginput">
   <div class="form-group">
      <label class="control-label textoInput">APELLIDO MATERNO:*</label>
      <input class="form-control required mayus" id="" name="" formControlName="ApMaterno" type="text" maxlength="30" required>
      <div
      *ngIf="
      FormUni.controls['ApMaterno'].invalid &&
      (FormUni.controls['ApMaterno'].dirty || FormUni.controls['ApMaterno'].touched)
    ">
    <div *ngIf="FormUni.controls['ApMaterno'].errors">
      <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El apellido materno es obligatorio</label>
    </div>
    
      </div>
      <p class="vacio" id=""></p>
   </div>
</div>
                    
             <div class="col-md-4 marginput">
                <div class="form-group">
                   <label class="control-label textoInput" >CURP:*</label>
                   <input formControlName="CURP" type="text" required  maxlength="18"
                   onkeypress="return (event.charCode >= 48 && event.charCode <= 57) ||  ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                   class="form-control required" style="text-transform: uppercase;">
                   <div
      *ngIf="
      FormUni.controls['CURP'].invalid &&
      (FormUni.controls['CURP'].dirty || FormUni.controls['CURP'].touched)
    ">
    <div *ngIf="FormUni.controls['CURP'].errors">
      <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> La curp es obligatorio</label>
    </div>
    
      </div>
                  
                  
                   <p class="vacio" id=""></p>
                </div>
             </div>
    



            


             
             
             

           
             <div class="col-md-4 marginput">
                <div class="form-group">
                   <label class="control-label textoInput">RFC:*</label>
                   <input class="form-control required mayus"   maxlength="13" id="" name=""  formControlName="RFC" type="text" required>
                   <div
      *ngIf="
      FormUni.controls['RFC'].invalid &&
      (FormUni.controls['RFC'].dirty || FormUni.controls['RFC'].touched)
    ">
    <div *ngIf="FormUni.controls['RFC'].errors">
      <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El rfc es obligatorio</label>
    </div>
    
      </div>
                   <p class="vacio" id=""></p>
                </div>
             </div>


             <div class="col-md-4 marginput">
                <div class="form-group">
                   <label class="control-label textoInput">SEXO:*</label>
                   <select class="form-select required" id="" name="" formControlName="Sexo" required>
                     <option>Selecciona una opción</option>
                     <option value="F">FEMENINO</option>
                     <option value="M">MASCULINO</option>
                        
                   </select>
                   <p class="vacio" id=""></p>
                </div>
             </div>

             <div class="col-md-4 marginput">
               <div class="form-group">
                  <label class="control-label textoInput">FECHA DE NACIMIENTO:*</label>
                  <input class="form-control required" id="" name="" formControlName="FechaNacimiento" type="date"
                     required>
                  <p class="vacio" id=""></p>
               </div>
            </div>
    
             <div class="col-md-4 marginput">
                <div class="form-group">
                   <label class="control-label textoInput">GRUPO SANGUINEO:*</label>
                   <input class="form-control required mayus" id="" name="" formControlName="GrupoSanguineo" type="text" maxlength="4"
                   required>

                   <div
                   *ngIf="
                   FormUni.controls['GrupoSanguineo'].invalid &&
                   (FormUni.controls['GrupoSanguineo'].dirty || FormUni.controls['GrupoSanguineo'].touched)
                 ">
                 <div *ngIf="FormUni.controls['GrupoSanguineo'].errors">
                   <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El grupo sanguineo es obligatorio</label>
                 </div>
                 
                   </div>
                   <p class="vacio" id=""></p>
                </div>
             </div>
    

             <div class="col-md-4 marginput">
                <div class="form-group">
                   <label class="control-label textoInput">CORREO ELECTRONICO:*</label>
                   <input class="form-control required" id="" name="" formControlName="Email" type="text" maxlength="40" required>
                   
                   <div
                   *ngIf="
                   FormUni.controls['Email'].invalid &&
                   (FormUni.controls['Email'].dirty || FormUni.controls['Email'].touched)
                 ">
                 <div *ngIf="FormUni.controls['Email'].errors">
                   <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El correo es obligatorio</label>
                 </div>
                 
                   </div>
                   <p class="vacio" id=""></p>
                </div>
             </div>
    

     </div>


    
       


       
   



   
     






    <div class="textosolicitud formularyborder " style=" font-family: 'Montserrat'; margin-top:30px;" >
 
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)"     ><strong>DOMICILIO</strong><p>
        </div>
      </div>
      



        <div class="borderso text-center" ></div>
      
      
     

     <div class="row" >

        <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">NUMERO EXTERIOR:*</label>
               <input class="form-control required"   id="" Name="" formControlName="NmExterior" type="number" min="0" step="1"  maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  required>
              
               <div
                   *ngIf="
                   FormUni.controls['NmExterior'].invalid &&
                   (FormUni.controls['NmExterior'].dirty || FormUni.controls['NmExterior'].touched)
                 ">
                 <div *ngIf="FormUni.controls['NmExterior'].errors">
                   <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El numero exterior es obligatorio</label>
                 </div>
                 
                   </div>
              
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">NUMERO INTERIOR:*</label>
               <input class="form-control required"   id="" name="" formControlName="NmInterior"  required type="number" min="0" step="1"  maxlength="6" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
               <div
               *ngIf="
               FormUni.controls['NmInterior'].invalid &&
               (FormUni.controls['NmInterior'].dirty || FormUni.controls['NmInterior'].touched)
             ">
             <div *ngIf="FormUni.controls['NmInterior'].errors">
               <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El numero interior es obligatorio</label>
             </div>
             
               </div>
              <p class="vacio" id=""></p>
            </div>
         </div>



         
         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">CODIGO POSTAL:*</label>
               <input class="form-control required" id="" name="" formControlName="CodigoPostal" type="text"   type="number" min="0" step="1" maxlength="5" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               required>

               <div
               *ngIf="
               FormUni.controls['CodigoPostal'].invalid &&
               (FormUni.controls['CodigoPostal'].dirty || FormUni.controls['CodigoPostal'].touched)
             ">
             <div *ngIf="FormUni.controls['CodigoPostal'].errors">
               <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El codigo postal es obligatorio</label>
             </div>
             
               </div>
               <p class="vacio" id=""></p>
            </div>
         </div>


        
        

         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">LOCALIDAD:*</label>
                  <select class="form-select " id="" name="Locid" formControlName="Locid" #Locid>
                     <option value="">Selecciona una opción</option>
                     <option *ngFor="let localidad of locali" [value]="localidad.id">{{ localidad.NombreLocalidad}}</option>
                 </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-8 marginput">
            <div class="form-group">
               <label class="control-label textoInput">CALLE:*</label>
               <input class="form-control required mayus" id="" name="" formControlName="Calle" type="text" maxlength="100" required>
               <div
                   *ngIf="
                   FormUni.controls['Calle'].invalid &&
                   (FormUni.controls['Calle'].dirty || FormUni.controls['Calle'].touched)
                 ">
                 <div *ngIf="FormUni.controls['Calle'].errors">
                   <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> La calle es obligatoria</label>
                 </div>
                 
                   </div>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">TELEFONO PRINCIPAL*</label>
               <input class="form-control required" id="" name="NmPrincipal" formControlName="NmPrincipal" required  type="number" min="0" step="1"  maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
               <div
               *ngIf="
               FormUni.controls['NmPrincipal'].invalid &&
               (FormUni.controls['NmPrincipal'].dirty || FormUni.controls['NmPrincipal'].touched)
             ">
             <div *ngIf="FormUni.controls['NmPrincipal'].errors">
               <label  class="control-label "  for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El telefono principal es obligatorio</label>
             </div>
             
               </div>
               
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">TIPO PRINCIPAL:*</label>
               <select class="form-select required" id="" name="" formControlName="TpNmPrincipal" required>
                  <option selected>Selecciona una opción</option>
                  <option value="CASA">CASA</option>
                  <option value="MOVIL">MOVIL</option>
                  <option value="OFICINA">OFICINA</option>
               </select>
               <div
               *ngIf="
               FormUni.controls['TpNmPrincipal'].invalid &&
               (FormUni.controls['TpNmPrincipal'].dirty || FormUni.controls['TpNmPrincipal'].touched)
             ">
             <div *ngIf="FormUni.controls['TpNmPrincipal'].errors">
               <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El tipo de telefono  es obligatorio</label>
             </div>
             
               </div>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4 marginput">
           
         </div>

         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">TELEFONO SECUNDARIO*</label>
               <input class="form-control required" id="" name="NmSecundario" formControlName="NmSecundario" type="number" min="0" step="1" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
               <div
                   *ngIf="
                   FormUni.controls['NmSecundario'].invalid &&
                   (FormUni.controls['NmSecundario'].dirty || FormUni.controls['NmSecundario'].touched)
                 ">
                 <div *ngIf="FormUni.controls['NmSecundario'].errors">
                   <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El telefono secundario es obligatorio</label>
                 </div>
                 
                   </div>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4 marginput">
            <div class="form-group">
               <label class="control-label textoInput">TIPO SECUNDARIO:*</label>
               <select class="form-select required" id="" name="" formControlName="TpNmSecundario" required>
                  <option selected>Selecciona una opción</option>
                  <option value="CASA">CASA</option>
                  <option value="MOVIL">MOVIL</option>
                  <option value="OFICINA">OFICINA</option>
               </select>
               <div
               *ngIf="
               FormUni.controls['TpNmSecundario'].invalid &&
               (FormUni.controls['TpNmSecundario'].dirty || FormUni.controls['TpNmSecundario'].touched)
             ">
             <div *ngIf="FormUni.controls['TpNmSecundario'].errors">
               <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El tipo de telefono es obligatorio</label>
             </div>
             
               </div>
               <p class="vacio" id=""></p>
            </div>
         </div>
           
         

         

        

       
     
        
     
        
            
            
              

           

             
            

             
            
            

             

           


           
<!--
           <div class="col-md-3 marginput">
            <div class="form-group">
               <label class="control-label textoInput"></label>
               <button class="form-control required input"
                  style="background-color: rgb(18, 119, 89); color:white; margin-top:15px;">
                  <i class="bi bi-phone"></i> AGREGAR TELEFONO
               </button>
            </div>
         </div>

-->


     </div>

     <!--
     <div class="d-flex justify-content-end  " style="margin-top:20px;  " >
      <div class="d-flex text-center col-md-8" >
         <table class=" table  text-center "    style="  margin-top:50px; margin-bottom: 80px; font-family: 'Montserrat'; font-size:17px; border:solid 1px rgb(179, 176, 176)">
            <thead  >
              <tr  >
                <th class="fondotabla" scope="col">Telefono</th>
                <th class="fondotabla" scope="col">Tipo</th>
                <th class="fondotabla" scope="col">Principal</th>
                <th  class="fondotabla"scope="col">Opción</th>
                
              </tr>
            </thead>
            <tbody style="border:solid 1px rgb(122, 122, 122); " class="text-center">
              <tr>
                <th scope="row">1</th>
                <td>9711234567</td>
                <td>Principal</td>
             
               
                <td> <a href=""><i class="bi bi-trash-fill" style="margin-left: 6%;"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>55678948448</td>
                <td>Secundario</td>
               
                <td>
                  <a href=""><i class="bi bi-trash-fill" style="margin-left: 6%;"></i></a>
                </td>
              </tr>
              <tr>
               
                
              </tr>
            </tbody>
          </table>
       
      </div>
   </div>
     
-->

    






 
 
        <div>
          <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px;  color:rgb(87, 86, 85)"     ><strong>DETALLE</strong><p>
        </div>
     
        <div class="borderso text-center" ></div>



     <div class="row" >

      <div class="d-flex justify-content-between ">

        <div class="col-md-4 marginput">
           <div class="form-group"  >
              <label class="control-label textoInput">FECHA DE OPERACIONES:*</label>
              <input class="form-control required input" id="" name="" formControlName="IniOperaciones" type="date"
                     required>
              <p class="vacio" id=""></p>
          </div>
        </div>
        <div class="col-md-2 marginput ">
      </div>
        <div class="col-md-4 marginput ">
         <label class="control-label textoInput">ACTIVOS:</label>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" id="activoEmbMayor" formControlName="ActivoEmbMayor">
            <label class="form-check-label" for="activoEmbMayor">
               EMBARCACIONES MAYORES
            </label>
         </div>
         <div class="form-check">
            <input class="form-check-input" type="checkbox" id="activoEmbMenor" formControlName="ActivoEmbMenor">
            <label class="form-check-label" for="activoEmbMenor">
               EMBARCACIONES MENORES
            </label>
         </div>
      </div>
   

       

        <div class="col-md-4 marginput ">
         <div class="form-group ">
           
               <label class="control-label textoInput">ACTIVIDAD PESQUERA:</label>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="activoEmbMayor" formControlName="ActvAcuacultura" >
                  <label class="form-check-label" for="ActvAcuacultura">
                     ACTIVIDAD ACUACULTURA
                  </label>
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ActvPesca" formControlName="ActvPesca">
                  <label class="form-check-label" for="ActvPesca">
                     ACTIVIDAD PESQUERA
                  </label>
               
            </div>
         </div>
      </div>
   </div>
      
      
      <div class="form-group ">
      <strong > <p style=" font-family: 'Montserrat'; font-size: 18px; margin-bottom: 10px;">IMPORTAR DOCUMENTOS</p></strong>
       
      <table class=" table  "
      style="font-family: 'Montserrat'; font-size:16px; border:solid 1px black">
     
      <thead class="text-center">
         
         <tr >
           
            
            <th scope="col"  style="background-color: #7B1E34;  color: white;">DOCUMENTO</th>
            <th scope="col" style="background-color: #7B1E34;  color: white;">ARCHIVO</th>
         </tr>
      </thead>
      <tbody class="text-center" >
         <tr >
            <td >Acta de nacimiento</td>
            <td>
             
                  

                  
                   <label for="pdfFile" class="custom-input custom-button">
                     <i class="bi bi-folder-plus"></i> Subir PDF
                  </label> 
                     <input class="form-control required input " type="file" accept=".pdf" class="file-input" id="" name="" formControlName="DocActaNacimiento"
                   required>
                
              
            
            </td>
         </tr>
         <tr>
            <td>Comprobante de domicilio</td>
            <td>
              
                  <label for="pdfFile" class="custom-input custom-button">
                     <i class="bi bi-folder-plus"></i> Subir PDF
                 </label> 
                 
                  <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocComprobanteDomicilio"
                required>
             
            </td>
         </tr>
         <tr>
            <td>Curp</td>
            <td>
              
                  <label for="pdfFile" class="custom-input custom-button">
                     <i class="bi bi-folder-plus"></i> Subir PDF
                 </label> 
                 <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocCURP"
                 required>
             
            </td>
         </tr>
         <tr>
            <td>Identificación Oficial</td>
            <td>
               
                  <label for="pdfFile" class="custom-input custom-button">
                     <i class="bi bi-folder-plus"></i> Subir PDF
                 </label> 
                 <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocIdentificacionOfc"
                 required>
              
            </td>
         </tr>
         <tr>
            <td>RFC</td>
            <td>
             
                  <label for="pdfFile" class="custom-input custom-button">
                     <i class="bi bi-folder-plus"></i> Subir PDF
                 </label> 
                 <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocRFC"
                 required>
             
            </td>
         </tr>
      </tbody>
   </table>
   </div>
 <!--
        <div class="col-md-3 marginput">
         <div class="form-group">
            <label class="control-label textoInput"></label>
            <button class="form-control required input" onclick="window.modal1.showModal();"
               style="background-color: rgb(18, 119, 89); color:white; margin-top:15px;">
               <i class="bi bi-folder-plus"></i> SUBIR ARCHIVOS
            </button>
            <dialog id="modal1">
               <div class="modal-header">
                  <h5 style=" font-family: 'Montserrat'; font-size: 18px;">IMPORTAR DOCUMENTOS</h5>
                  <div>
                     <a style="padding-left: 700%" type="button" onclick="window.modal1.close();">
                        <i class="bi bi-x-lg"></i></a>
                  </div>
               </div>
               <div class="modal-body">
                  <div class="justify-content-start">
                     <table class=" table table-striped table-bordered"
                        style="font-family: 'Montserrat'; font-size:16px;">
                        <thead class="text-center">
                           <tr>
                              <th scope="col">DOCUMENTO</th>
                              <th scope="col">ARCHIVO</th>
                           </tr>
                        </thead>
                        <tbody class="text-center">
                           <tr>
                              <td>Acta de nacimiento</td>
                              <td>
                                 <form action="procesar_subida.php" method="post" enctype="multipart/form-data">
                                    <label for="pdfFile" class="custom-input custom-button">
                                       <i class="bi bi-folder-plus"></i> Subir PDF
                                   </label> 

                                    <input class="form-control required input" type="file" accept=".pdf" class="file-input" id="" name="" formControlName="DocActaNacimiento"
                                     required>
                                 </form>
                              </td>
                           </tr>
                           <tr>
                              <td>Comprobante de domicilio</td>
                              <td>
                                 <form action="procesar_subida.php" method="post" enctype="multipart/form-data">
                                    <label for="pdfFile" class="custom-input custom-button">
                                       <i class="bi bi-folder-plus"></i> Subir PDF
                                   </label> 
                                   
                                    <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocComprobanteDomicilio"
                                  required>
                                 </form>
                              </td>
                           </tr>
                           <tr>
                              <td>Curp</td>
                              <td>
                                 <form action="procesar_subida.php" method="post" enctype="multipart/form-data">
                                    <label for="pdfFile" class="custom-input custom-button">
                                       <i class="bi bi-folder-plus"></i> Subir PDF
                                   </label> 
                                   <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocCURP"
                                   required>
                                 </form>
                              </td>
                           </tr>
                           <tr>
                              <td>Identificación Oficial</td>
                              <td>
                                 <form action="procesar_subida.php" method="post" enctype="multipart/form-data">
                                    <label for="pdfFile" class="custom-input custom-button">
                                       <i class="bi bi-folder-plus"></i> Subir PDF
                                   </label> 
                                   <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocIdentificacionOfc"
                                   required>
                                 </form>
                              </td>
                           </tr>
                           <tr>
                              <td>RFC</td>
                              <td>
                                 <form action="procesar_subida.php" method="post" enctype="multipart/form-data">
                                    <label for="pdfFile" class="custom-input custom-button">
                                       <i class="bi bi-folder-plus"></i> Subir PDF
                                   </label> 
                                   <input class="form-control required input"  type="file"   accept=".pdf" class="file-input" id="" name="" formControlName="DocRFC"
                                   required>
                                 </form>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <button onclick="window.modal1.close();" class=" butto2 button2" style=" margin-left: 190px;">Cancelar
                     <i class="bi bi-x"></i>
                  </button>
                  <button onclick="window.modal1.close(); " class="butto button1">Guardar
                     <i class="bi bi-check-lg"></i>
                  </button>
               </div>
            </dialog>
            <p class="vacio" id=""></p>
         </div>
      </div>
       
       
       
            

 -->
     </div>
 

     <div class="row">
        <div class="col-md-12">
           <div class="pull-left">
              <p class="top_10">* Campos obligatorios</p>
           </div>
           <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
              <button class="btn btn-default botones" id="btn_cancelar" type="button "  height="40px;" style="background-color: rgb(110, 109, 109); color:white;">Cancelar</button>
              <button  class="btn  botones"  style="background-color: brown; color:white;" >Guardar</button>
            
           </div>
        
        </div>
        
     </div>
     
   </form>
   
</div>
   </section>  
     



   
<app-footer></app-footer>