<app-header></app-header>

<div class="d-flex justify-content-between " style="margin-top:20px; margin-left:20px;" >
    <div class="d-flex" >
      <i class="bi bi-house-door" style="font-size: 22px;"></i>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
      <p style="font-family: 'Montserrat';font-size: 22px; " ><a href="panel" style="text-decoration:none">Panel</a></p>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
     <p style="font-family: 'Montserrat';font-size: 22px; "><a href="municipios" style="text-decoration:none">Municipios</a></p>
     
    </div>
    <a href="#"   style="font-family: 'Montserrat';font-size: 22px; color:blue; margin-right:15px;">Manual de usuario</a>
  
  </div>

<section class="container">
   <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-bottom:30px;">
      <p style=" font-size: 50px;"><strong>MUNICIPIOS</strong></p>
      <div>
      </div>
   </div>
   <div class="order_boxes">
      <div class="row">
         <div class="col-lg-6 col-lx-4">
           
            <div>
               <table class="table   text-center"  style="text-transform: uppercase;">
             <td class=" text-center textoInfo" style="background-color: #7B1E34;">#</td>
             <td class=" text-center textoInfo" style="background-color: #7B1E34;">LISTA DE MUNICIPIOS</td>
             <th class=" text-center textoInfo" style="background-color: #7B1E34;">Opciones</th>
                  <tr *ngFor="let pesca of datos ; let iControl = index">
                    
                     <td style="border: solid 1px rgb(167, 167, 167);"  class="textoInput" >{{pesca.id}}</td>
                     <td style="border: solid 1px rgb(167, 167, 167);"  class="textoInput" >{{pesca.NombreMunicipio}}</td>
                     <td style="border: solid 1px rgb(167, 167, 167); " class="textoInput"><a   type="button" (click)="editar(pesca.id)"><i class="bi bi-pencil-square " style="color: rgb(65, 125, 255); font-size: 18px;"></i></a>
                        <a   type="button" (click)="borrar(pesca.id, iControl)"><i class="bi bi-trash" style="margin-left: 25px;; color: #eb0339; font-size: 18px;"></i></a>
                    </td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-lg-2 col-lx-4"></div>
         <div class="col-lg-4 col-lx-4">
            <div class="text-white p-1 text-center" style="background-color: #000000;">
               AGREGAR MUNICIPIO
            </div>
            <form class="row " [formGroup]="FormMunicipio" (submit)="enviar()" ngNativeValidate>
              


                  <div class="col-md-lg marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">NOMBRE:</label>
                        <input formControlName="NombreMunicipio" type="text" maxlength="40" required class="form-control required"
                           style="text-transform: uppercase;">
                           <div
                  *ngIf="
                  FormMunicipio.controls['NombreMunicipio'].invalid &&
                  (FormMunicipio.controls['NombreMunicipio'].dirty || FormMunicipio.controls['NombreMunicipio'].touched)
                ">
                <div *ngIf="FormMunicipio.controls['NombreMunicipio'].errors">
                  <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El nombre  es obligatorio</label>
                </div>
                
                  </div>
                           
                        <p class="vacio" id=""></p>
                     </div>

                     <div class="col-md-lg marginput">
                        <div class="form-group">
                           <label class="control-label textoInput">REGIONES:</label>
                           <select formControlName="Regid" type="text" required class="form-select required"
                              style="text-transform: uppercase;">
                              <option class="text-center" value="">SELECCIONA UNA OPCIÓN</option>
                              <option *ngFor="let region of data " [value]="region.id">{{region.NombreRegion}}</option>       
                              </select>
                              <div
                     *ngIf="
                     FormMunicipio.controls['Regid'].invalid &&
                     (FormMunicipio.controls['Regid'].dirty || FormMunicipio.controls['Regid'].touched)
                   ">
                   <div *ngIf="FormMunicipio.controls['Regid'].errors">
                     <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> La región es obligatoria</label>
                   </div>
                   
                     </div>
                              
                           <p class="vacio" id=""></p>
                        </div>
                    </div>

                    <div class="col-md-lg marginput">
                        <div class="form-group">
                           <label class="control-label textoInput">DISTRITOS:</label>
                           <select formControlName="Disid" type="text" required class="form-select required"
                              style="text-transform: uppercase;">
                              <option class="text-center" value="">SELECCIONA UNA OPCIÓN</option>
                              <option *ngFor="let distrito of distrito " [value]="distrito.id">{{distrito.NombreDistrito}}</option>       
                              </select>
                              <div
                     *ngIf="
                     FormMunicipio.controls['Disid'].invalid &&
                     (FormMunicipio.controls['Disid'].dirty || FormMunicipio.controls['Disid'].touched)
                   ">
                   <div *ngIf="FormMunicipio.controls['Disid'].errors">
                     <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El distrito es obligatorio</label>
                   </div>
                   
                     </div>
                              
                           <p class="vacio" id=""></p>
                        </div>
                    </div>


                     <div class="row">
                        <div class="col-md-lg">
                           <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
                              <button class="btn btn-default botones" (click)="cancelar()" type="button " height="40px;"
                                 style="background-color: rgb(110, 109, 109); color:white; margin-right: 20px;">Cancelar</button>
                              <button class="btn  " style="background-color: brown; color:white;">Guardar</button>
      
                           </div>
                        </div>
                     </div>
                  </div>


              
            </form>
         </div>

      </div>
   </div>
</section>





<app-footer></app-footer>
