<app-header></app-header>
<div class="d-flex justify-content-between " style="margin-top:20px; margin-left:20px;"  >
    <div class="d-flex" >
      <i class="bi bi-house-door" style="font-size: 22px;"></i>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
      <p style="font-family: 'Montserrat';font-size: 22px; " ><a href="panel" style="text-decoration:none">Panel</a></p>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
     <p style="font-family: 'Montserrat';font-size: 22px; "><a  style="text-decoration:none">Distritos</a></p>
     
    </div>
    <a href="#"   style="font-family: 'Montserrat';font-size: 22px; color:blue; margin-right:15px;">Manual de usuario</a>
  
  </div>
 

<section class="container">
   <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-bottom:30px;">
      <p style=" font-size: 50px;"><strong>DISTRITOS</strong></p>
      <div>
      </div>
   </div>
   <div class="order_boxes">
      <div class="row">
         <div class="col-lg-6 col-lx-4">
           
            <div>
               <table style="text-transform: uppercase;" class="table table-bordered">
           
                  <thead style="color:DarkCyan" class="text-center table-dark">
                     <tr>
                       
                        <th scope="col" style="background-color: #7B1E34;"># </th>
                        <th scope="col" style="background-color: #7B1E34;">LISTA DE DISTRITOS </th>
                        <th scope="col" style="background-color: #7B1E34;">OPCIONES</th>
                     </tr>
                  </thead>

                  <tbody class="text-center text-upp">
                  <tr *ngFor="let pesca of datos; let iControl = index">
                    
                     <td class="textoInput" style="border: solid 1px rgb(131, 130, 130);" >{{pesca.id}}</td>
                     <td sclass="textoInput" style="border: solid 1px rgb(131, 130, 130);" >{{pesca.NombreDistrito}}</td>
                     <td class="textoInput" style="border: solid 1px rgb(131, 130, 130);">
                                    
                        <a   type="button" (click)="editar(pesca.id)"><i class="bi bi-pencil-square " style="color: rgb(65, 125, 255); font-size: 18px; margin-right: 10px;"></i></a>
                            <a   type="button" (click)="borrar(pesca.id, iControl)"><i class="bi bi-trash" style="margin-left: 15px; color: #eb0339; font-size: 18px;"></i></a>
                        </td>
                  </tr>
               </tbody>
               </table>








               

                
                    
                  

                    
                 



               
            </div>
         </div>
         <div class="col-lg-2 col-lx-4"></div>
         <div class="col-lg-4 col-lx-4">
            <div class="text-white p-1 text-center" style="background-color: #000000;">
               AGREGAR DISTRITO
            </div>
            <form class="row " [formGroup]="FormDistrito" (submit)="enviar()" ngNativeValidate>
              


                  <div class="col-md-lg marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">NOMBRE:</label>
                        <input maxlength="50" formControlName="NombreDistrito" type="text" required class="form-control required"
                           style="text-transform: uppercase;">
                           <div
                  *ngIf="
                  FormDistrito.controls['NombreDistrito'].invalid &&
                  (FormDistrito.controls['NombreDistrito'].dirty || FormDistrito.controls['NombreDistrito'].touched)
                ">
                <div *ngIf="FormDistrito.controls['NombreDistrito'].errors">
                  <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El nombre es obligatorio</label>
                </div>
                
                  </div>
                           
                        <p class="vacio" id=""></p>
                     </div>

                     <div class="col-md-lg marginput">
                        <div class="form-group">
                           <label class="control-label textoInput">REGIÓN:</label>
                           <select formControlName="Regid" type="text" required class="form-select required"
                              style="text-transform: uppercase;">
                              <option class="text-center"  value="">Selecciona una opción</option>
                              <option *ngFor="let region of data " [value]="region.id">{{region.NombreRegion}}</option>       
                              </select>
                              <div
                     *ngIf="
                     FormDistrito.controls['Regid'].invalid &&
                     (FormDistrito.controls['Regid'].dirty || FormDistrito.controls['Regid'].touched)
                   ">
                   <div *ngIf="FormDistrito.controls['Regid'].errors">
                     <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> La región es obligatoria</label>
                   </div>
                   
                     </div>
                              
                           <p class="vacio" id=""></p>
                        </div>
                    </div>


                     <div class="row">
                        <div class="col-md-lg">
                           <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
                              <button class="btn btn-default botones" (click)="cancelar()" type="button " height="40px;"
                                 style="background-color: rgb(110, 109, 109); color:white; margin-right: 20px;">Cancelar</button>
                              <button class="btn  " style="background-color: brown; color:white;">Guardar</button>
      
                           </div>
                        </div>
                     </div>
                  </div>


              
            </form>
         </div>

      </div>
   </div>
</section>





<app-footer></app-footer>

