<footer class=" text-white text-center footer-background ">

    <div class="text-center p-3">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <img src="../../../assets/Imagenes/footer.png" alt="" class="logo">
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h5 class="text-uppercase">Contactos</h5>
                <hr class="line">
                <p>
                    Telefono: 74648
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h5 class="text-uppercase">Ubicación</h5>
                <hr class="line">
                <p>
                    Centro Administrativo del Poder Ejecutivo y Judicial
                    “General Porfirio Diaz, Soldado de la Patria” Edificio:
                    Gral. Heliodoro Charis Castro, Av. Gerardo Pandal
                    Graff, No. 01, Reyes Mantecón, San Bartolo
                    Coyotepec, Centro, Oax. C.P. 71257
                </p>
            </div>
        </div>

    </div>
    <img src="../../../assets/Imagenes/footerbanda.PNG" alt="" class="bandafooter">
    <p></p>
</footer>