<app-header></app-header>

<div class="d-flex justify-content-between " style="margin-top:20px; margin-left:20px;">
   <div class="d-flex">
      <i class="bi bi-house-door" style="font-size: 22px;"></i>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
      <p style="font-family: 'Montserrat';font-size: 22px; "><a href="panel" style="text-decoration:none">Panel</a></p>
      <i class="bi bi-chevron-right" style="font-size: 22px;"></i>
      <p style="font-family: 'Montserrat';font-size: 22px; "><a 
            style="text-decoration:none">Localidades</a></p>

   </div>
   <a href="#" style="font-family: 'Montserrat';font-size: 22px; color:blue; margin-right:15px;">Manual de usuario</a>

</div>

<section class="container">
   <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-bottom:30px;">
      <p style=" font-size: 50px;"><strong>LOCALIDADES</strong></p>
      <div>
      </div>
   </div>
   <div class="order_boxes">
      <div class="row">
         <div class="col-lg-6 col-lx-4">

            <div>
               <table style="text-transform: uppercase;" class="table table-bordered">
                  <thead style="color:DarkCyan" class="text-center table-dark">
                      <tr>
                          <th scope="col" style="background-color: #7B1E34;"># </th>
                          <th scope="col" style="background-color: #7B1E34;">Lista de localidades </th>
                          <th scope="col" style="background-color: #7B1E34;">Opciones</th>
                      </tr>
                  </thead>

                  <tbody class="text-center text-upp">
                      <tr *ngFor="let pesca of localidad ; let iControl = index">
                          <td style="border: solid 1px rgb(167, 167, 167);"  class="textoInput" >{{pesca.id}}</td>
                          <td style="border: solid 1px rgb(167, 167, 167);"  class="textoInput" >{{pesca.NombreLocalidad}}</td>
                          <td style="border: solid 1px rgb(167, 167, 167); " class="textoInput"><a   type="button" (click)="editar(pesca.id)"><i class="bi bi-pencil-square " style="color: rgb(65, 125, 255); font-size: 18px;"></i></a>
                              <a   type="button" (click)="borrar(pesca.id, iControl)"><i class="bi bi-trash" style="margin-left: 25px;; color: #eb0339; font-size: 18px;"></i></a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
            </div>
         </div>
         <div class="col-lg-2 col-lx-4"></div>
         <div class="col-lg-4 col-lx-4">
            <div class="text-white p-1 text-center" style="background-color: #000000;">
               AGREGAR LOCALIDAD
            </div>
            <form class="row " [formGroup]="FormLocalidad" (submit)="enviar()" ngNativeValidate>



               <div class="col-md-lg marginput">
                  <div class="form-group">
                     <label class="control-label textoInput">NOMBRE:</label>
                     <input formControlName="NombreLocalidad" type="text" maxlength="50" required class="form-control required"
                        style="text-transform: uppercase;">
                     <div *ngIf="
                  FormLocalidad.controls['NombreLocalidad'].invalid &&
                  (FormLocalidad.controls['NombreLocalidad'].dirty || FormLocalidad.controls['NombreLocalidad'].touched)
                ">
                        <div *ngIf="FormLocalidad.controls['NombreLocalidad'].errors">
                           <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El nombre es obligatorio</label>
                        </div>

                     </div>

                     <p class="vacio" id=""></p>
                  </div>

                  <div class="col-md-lg marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">REGIONES:</label>
                        <select formControlName="Regid" type="text" required class="form-select required"
                           style="text-transform: uppercase;">
                           <option class="text-center" value="">Selecciona una opción</option>
                           <option *ngFor="let region of data " [value]="region.id">{{region.NombreRegion}}</option>
                        </select>
                        <div *ngIf="
                     FormLocalidad.controls['Regid'].invalid &&
                     (FormLocalidad.controls['Regid'].dirty || FormLocalidad.controls['Regid'].touched)
                   ">
                           <div *ngIf="FormLocalidad.controls['Regid'].errors">
                              <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> La región es obligatoria</label>
                           </div>

                        </div>

                        <p class="vacio" id=""></p>
                     </div>
                  </div>

                  <div class="col-md-lg marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">DISTRITOS:</label>
                        <select formControlName="Disid" type="text" required class="form-select required"
                           style="text-transform: uppercase;">
                           <option class="text-center"  value="">Selecciona una opción</option>
                           <option *ngFor="let distrito of distrito " [value]="distrito.id">{{distrito.NombreDistrito}}
                           </option>
                        </select>
                        <div *ngIf="
                     FormLocalidad.controls['Disid'].invalid &&
                     (FormLocalidad.controls['Disid'].dirty || FormLocalidad.controls['Disid'].touched)
                   ">
                           <div *ngIf="FormLocalidad.controls['Disid'].errors">
                              <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El distrito  es obligatorio</label>
                           </div>

                        </div>

                        <p class="vacio" id=""></p>
                     </div>
                  </div>



                  <div class="col-md-lg marginput">
                     <div class="form-group">
                        <label class="control-label textoInput">MUNICIPIOS:</label>
                        <select formControlName="Munid" type="text" required class="form-select required"
                           style="text-transform: uppercase;">
                           <option class="text-center" value="">Selecciona una opción</option>
                           <option *ngFor="let municipio of datos " [value]="municipio.id">{{municipio.NombreMunicipio}}
                           </option>
                        </select>
                        <div *ngIf="
                     FormLocalidad.controls['Munid'].invalid &&
                     (FormLocalidad.controls['Munid'].dirty || FormLocalidad.controls['Munid'].touched)
                   ">
                           <div *ngIf="FormLocalidad.controls['Munid'].errors">
                              <label  class="control-label " for="" style="background-color: #eb0339; color:white; font-size:12px;"> <i class="bi bi-exclamation-circle-fill"></i> El municipio es obligatorio</label>
                           </div>

                        </div>

                        <p class="vacio" id=""></p>
                     </div>
                  </div>




                  <div class="row">
                     <div class="col-md-lg">
                        <div class="d-flex justify-content-end  " style="margin-bottom: 50px;">
                           <button class="btn btn-default botones" (click)="cancelar()" type="button " height="40px;"
                              style="background-color: rgb(110, 109, 109); color:white; margin-right: 20px;">Cancelar</button>
                           <button class="btn  " style="background-color: brown; color:white;">Guardar</button>

                        </div>
                     </div>
                  </div>
               </div>



            </form>
         </div>

      </div>
   </div>
</section>





<app-footer></app-footer>